<% provide(:p, "Otros") %>


<h1>Otro metodo</h1>


<p>Find me in app/views/pagina_estatica/bienvenida.html.erb</p>
<center><h1><button class="btn btn-danger" type="submit">Button</button></h1><center>